* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.root-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.menu-container {
  height: 80px; /* Fixed height for the menu */
  background-color: #8ab1c4;
  display: flex;
  align-items: center;
  justify-content: start;
  padding: 10px;
}

.floating-menu-container {
  position: absolute;
  right: 2px;
  top: 2px;
  z-index: 1;
  padding: 5px;
  background-color: #d3e9fd9e;
  border: 1px #9cc1e1 solid;
}

.main-menu {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.menu-item {
  width: 200px;
}

.root-grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* 3 columns, each 1 fraction of the available width */
  grid-template-rows: repeat(2, 1fr);    /* 2 rows, each 1 fraction of the available height */
  height: 100vh;                         /* Full viewport height */
}

.grid-item {
  border: 1px solid #dfdfdf;                /* Optional: for visual separation */
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.chart-wrapper {
  padding: 10px;
  
  .echarts-for-react {
    width: 100%;
    height: 100%;
  }
}

.home-container {
  flex: 1; /* Take the remaining height */
  align-items: center;
  justify-content: center;

  display: flex;
  width: 100%;
  height: 100vh; /* Full screen height */
  padding: 5px;
  background-color: #e4f3fa;

  .left-column,
  .right-column {
    height: 100%;
    width: 50%; /* Equal width for both columns */
    display: flex;
    flex-direction: column;
    gap: 10px; /* Add space between cells if desired */
    padding: 5px;
  }

  .cell {
    background-color: white;
    border: 2px solid #8ab1c4;
    flex: 1; /* Makes cells stretch evenly */
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}

.selector {
  width: 100%;
}